* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.wrap {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;


}

a {
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.textcenter {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;

}

h1 {
    color: white;
    background-color: #7C8928;
    text-transform: uppercase;
    padding: 5px;
}

section{
    padding: 90px 0 30px 0;
}
/***********************************

            HEADER

***********************************/

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(58, 64, 54, 0.5);
    z-index: 999;

}

header .wrap {
    display: grid;
    grid-template-columns: 1fr 90px 1fr;
    align-items: center;
    justify-content: space-between;
}




/***********MENU************/

li a {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    transition-duration: 0.2s;
    font-size: 15px;
    font-weight: 400;
}

.navigation ul li {
    display: inline-block;

}

li a:hover {
    padding: 10px 10px;
    color: #7C8928;
    border-radius: 10px;
}

.navigation {
    justify-self: end;
}


/*        LOGO*/

.logo {
    margin-top: 5px;
}

/*SOCIAL MEDEIA BUTTONS*/

.socialmedia > a {
    padding: 3px;
    color: white;
    font-size: 2em;
    transition-duration: 0.2s;

}

.socialmedia {
    justify-self: start;

}



.face:hover {
    color: #4267b2;
}

.linkedin:hover {
    color: #0077B5;
}

.insta:hover {
    color: #833ab4;
}

.google:hover {
    color: #d14836;
}

/***********************************

             MAIN

***********************************/

/*HOMEPAGE SLIDER*/
#home{
    padding-top: 0;
}

/*homepage title*/

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    animation: title 3s 1;
}

.animacija {
    background-color: transparent;

}


@keyframes title {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/*homepage button*/

.button {
    background-color: transparent;
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px;
    border: 4px solid #7C8928;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 22px 49px;
    text-decoration: none;
    margin-top: 40px;
    transition-duration: 0.3s;
}

.button:hover {
    color: #7C8928;

}

.button:active {
    position: relative;
    top: 1px;
}

/*    ANIMACIJA*/

/*
.hphoto {
    animation: photo 3s 1;
    animation-timing-function: ease-in;
}

@keyframes photo {
    0% {
        transform: translateX(-2000px)
    }
    100% {
        transform: translateX(0px)
    }
}

*/

/*    Sekcija  #O-nama   */



#o-nama .wrap {
    display: flex;
    justify-content: space-between;
}

.wrap .txt,
.photo {
    flex-basis: 50%;
}

#o-nama h2,
p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    padding: 10px
}

#o-nama p {
    color: darkslategray;
}


/***********************************

            PROIZVODI

***********************************/


/*Galerija*/

.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
}

.item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;
    background: url("../image/Paprika_sa_sirom.jpg");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
    box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    cursor: pointer;
    counter-increment: item-counter;
}

.item1{
    background-image: url("../image/proizvodi/Paprika_sa_sirom.jpg");
}
.item2{
    background-image: url("../image/proizvodi/krem%20sir.jpg");
}
.item3{
    background-image: url("../image/proizvodi/sir-u-maslinovom-ulju.jpg");
}
.item4{
    background-image: url("../image/proizvodi/paprika%20u%20pavlaci.jpg");
    background-position: center;
}
.item5{
    background-image: url("../image/proizvodi/ajvar.jpg");
}
.item6{
    background-image: url("../image/proizvodi/sarena-salata.jpg");
}
.item7{
    background-image: url("../image/proizvodi/Milina%20farma%20title2.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    

}
.item8{
    background-image: url("../image/proizvodi/sir.jpg");
    background-position: top;
}
.item9{
    background-image: url("../image/proizvodi/ukiseljeno-grozdje.jpg");
}


.item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.item:hover:after {
    opacity: 0;
}

.item--medium {
    grid-row-end: span 2;
}

.item--large {
    grid-row-end: span 3;
}

.item--full {
    grid-column-end: auto;
}

@media screen and (min-width: 768px) {
    .item--full {
        grid-column: 1/-1;
        grid-row-end: span 2;
    }
}

.item__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform:full-width;
    letter-spacing: 1px;
    color: #828282;
}

.item__details:before {
    content: counter(item-counter);
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 0.5em;
    color: #444;
}


/***********************************

            KUHINJICA

***********************************/

.tablink {
    background-color: #7C8928;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 32%;
    margin: 0 .1em;
    border-radius: 1em 1em 0 0;
    transition: 0.3s;
}

.tablink:hover {
    background-color: #485018;
}


.tabcontent {

    color: black;
    display: none;
    padding: 100px 20px;
    /*    height: 100%;*/
}

.kuh_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tabcontent h3 {
    display: inline-block;
    margin-bottom: 3em;
    text-transform: uppercase;
    border-bottom: 2px solid #7C8928;
    padding: .7em;
}



/***********************************

            KONTAKT

***********************************/

#kontakt {
    background-color: whitesmoke
}

#kontakt .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;

}

.contact {
    flex-basis: 50%;
}

/*
form input {
    padding: 5px;
    line-height: 5px;
    text-align: left;
    margin: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    flex-basis: 50%;



}
*/

.input2 {
    height: 150px;

}


/***************contact forma**************/

form {
    max-width: 420px;
}

.feedback-input {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #7C8928;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    outline: 0;
    text-align: left;
}

.feedback-input:focus {
    border: 2px solid #7C8928;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #7C8928;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #91a02b;
}

/***********************************

            FOOTER

***********************************/

footer {
    background-color: dimgrey;
}

/***********************************

            MEDIAQUERY

***********************************/

@media screen and (max-width: 800px) {
    .title {
        position: relative;
        margin-top: 2em;
        animation: none;
    }

    .title h1 {
        color: black;
        font-size: 1.5em;
        display: block;
        text-align: center;
    }
    .title a {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .hphoto {
        display: none;
    }
    header {
        position: relative;
    }
}
