* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.wrap {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;


}

a {
    text-decoration: none;

}

.textcenter {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;

}

/***********************************

            HEADER

***********************************/

header {
        position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 3px solid #7C8928;
    background-color: rgba(255,255,255,0.5);

}

li a {
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 5px 5px;
    transition-duration: 0.1s;
}

/*MENU*/

header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.navigation ul li {
    display: inline;

}

li a:hover {
    border-bottom: 5px solid #7C8928;
    margin-top: 5px;
}

.logo img {
        position: relative;
    
    top: 0;
    left: 50%;
    

    margin-top: 5px;
}




/***********************************

             MAIN

***********************************/

/*homepage title*/

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

/*homepage button*/

div .myButton {
    background-color: transparent;
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px;
    border: 4px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 22px 49px;
    text-decoration: none;
    margin-top: 40px;
    transition-duration: 0.5s;
}

.myButton:hover {
    background-color: #4b8f29;

}

.myButton:active {
    position: relative;
    top: 1px;
}

/*    O-nama*/

#o-nama .wrap {
    display: flex;
    justify-content: space-between;
}

.wrap .txt,
.photo {
    flex-basis: 50%;
}

#o-nama h2,
p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    padding: 10px
}

#o-nama p {
    color: darkslategray;
}

/***********************************

            FOOTER

***********************************/

footer {
    background-color: dimgrey;
}
